<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kks">
    <!-- 인터넷 사용 권한 설정 -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- 앨범 접근 권한 -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_calendar"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_calendar_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity
            android:name=".info.pattern.PatternContent"
            android:exported="false" />
        <activity
            android:name=".info.pattern.SpendpatternActivity"
            android:noHistory="false"
            android:exported="false" />
        <activity
            android:name=".archive.SearchResultActivity"
            android:exported="false" />
        <activity
            android:name=".archive.GridActivity"
            android:exported="false" />

        <!-- 사진 촬영을 위한 provide -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.example.kks.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <activity
            android:name=".login.SplashPage"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:noHistory="false" />


        <activity
            android:name=".record.WriteActivity"
            android:exported="false" />

        <!-- android:theme="@style/Theme.Kks" -->

        <activity android:name=".record.DetailRecordActivity" /> 
        <!-- android:theme="@style/Theme.Kks" -->
        <activity
            android:name=".login.LoginPageActivity"
            android:exported="true" />

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="7afffc6d5513e685abc067fe17f07310" />

        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="kakao7afffc6d5513e685abc067fe17f07310" />
            </intent-filter>
        </activity>
        <activity android:name=".record.ModifyActivity"/>
        <activity android:name=".info.follow.FollowActivity"/>
        <activity android:name=".info.myrecord.MyRecordActivity"/>
        <activity android:name=".info.liked.LikedActivity"/>
        <activity android:name=".info.alarm.AlarmActivity"/>
        <receiver android:name=".info.alarm.AlarmBroadcastReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>
    </application>


</manifest>